<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">

      <mat-card *ngIf="card.title=='userProfile'" class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Welcome {{card.username}}
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button> -->
            <!-- <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-user-profile
            [username]="username"
            [email]="profile_email">

          </app-user-profile>
          <!-- <router-outlet [username]="user_id"></router-outlet> -->
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="card.title=='userCourses'" class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Your Courses
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button> -->
            <!-- <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-user-courses [userId] = "user_id">

          </app-user-courses>
          <!-- <router-outlet [username]="user_id"></router-outlet> -->
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="card.title=='userBooks'" class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Your Books
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-user-books [userId] = "user_id">

          </app-user-books>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>
